@media print {
  body * {
    visibility: hidden;
  }
  #printable-area, #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: visible;
    border: none !important;
    padding: 1rem !important;
    background-color: white !important;
  }
  #printable-area pre {
    color: black !important;
    font-size: 12pt;
    font-family: 'Times New Roman', serif;
  }
  @page {
    size: auto;
    margin: 20mm;
  }
}
